@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;


.details-section{

    @include desktop{
        margin: 0px 11.25rem;
        display: flex;
        justify-content: flex-start;

        &__wrap{
            border-right: 2px solid $text-field-border;
        }
    }

    @include desktop-1440{
        &__wrap{
            width: 86%;
        }
    }
}

// .details-section__wrap{
//     @include desktop{
//         border-right: 2px solid $text-field-border;
//     }

//     @include desktop-1440{
//         width: 86%;
//     }
// }

// .videos{
//     margin: 2.5rem 1rem 0px;
//     &__title{
//         @include sub-header;
//         color: $text-label;
//         margin: 2.5rem 0px;
//         text-align: left;
//     }
//     @include tablet{
//         margin: 2.5rem 1.5rem 0px;
//     }
//     @include desktop{
//         margin: 0px 0px 0px 1rem;
//     }
// }