

// mixins for tablet and desktop(1280px & 1440px) breakpoints.
@mixin tablet {
    @media (min-width:768px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width:1280px) {
        @content;
    }
}
// Did this because I wanted to implement the strick width on the photo gallery from the mockup.
@mixin desktop-1440 {
    @media (min-width:1440px) {
        @content;
    }
}

// Mixins for various font sizes.
@mixin hero-header {
    font-size: 3.75rem;
    line-height: 4.25rem;   
    font-weight: 700;
}
@mixin header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}
@mixin lower-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
@mixin sub-header {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}
@mixin paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}
@mixin mob-sub-header {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
}
@mixin mob-paragraph {
    font-size: 0.812rem;
    line-height: 1.125rem;
    font-weight: 400;
}
