$primary-background:#323232;
$secondary-background:#ffffff;
$text-label:#afafaf;
$text-field-border:#e1e1e1;
$text-field-background:#fafafa;
$cta-text-link-one:#004892;
$cta-text-link-two:#0095ff;
$cta-hover-one:#002f5f;
$cta-hover-two:#0065ad;


